.navbar{
    flex-direction: column;
    height: 120px;
    padding: 20px;
}

.navbar a{
    padding: 10px 10px;
    margin: 0 3px;
}

.flex-container{
    flex-direction: column;
}

.flex-column .column, .flex-grid .column{
    flex: 100%;
    max-width: 100%;
}

.team img{
    width: 70%;
}

@media(max-width:340px){
    .navbar a{
        font-size: 0.7rem;
    }

    #hero .content h1{
        font-size: 2.4rem;
    }

    #hero .content p{
        font-size: 1rem;
    }

    #contact h2{
        text-align: center;
    }
}